@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

body {
  background-color: #F4F4F7;
}

.card {
  width: 450px;
  height: 480px;
  cursor: pointer;
  margin: 24px auto;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  transition: 0.7s;
}
.card__image {
  background-color: #000;
  position: relative;
  border-radius: 16px 16px 0 0;
}
.card__image img {
  width: 450px;
  height: auto;
  transition: 0.7s;
}
.card__image .date {
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgba(51, 51, 51, 0.4);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding-top: 5px;
  line-height: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}
.card__content__category {
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgba(51, 51, 51, 0.4);
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 6px;
  padding-top: 6px;
  text-align: center;
  position: absolute;
  top: 270px;
  transition: 0.7s;
}
.card__content__box {
  width: 450px;
  height: 120px;
  overflow: auto;
  background-color: white;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: absolute;
  top: 480px;
  padding: 28px;
  transition: 0.7s;
}
.card__content__box h1 {
  margin: 0;
  font-weight: 900;
}
.card__content__box h2 {
  color: #EF633D;
  font-weight: 600;
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 0px;
}
.card__content__box p {
  color: grey;
  font-size: 16px;
  text-align: justify;
}
.card__content__box .hide-text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
/* .card:hover {
  transition: 0.7s;
  height: 150px;
} */
.card:hover img {
  transform: scale(1.2);
  opacity: 0.7;
}
.card:hover .card__content__box {
  transform: translateY(-150px);
  -moz-animation: slide 0.8s ease 0.2s forwards;
  -webkit-animation: slide 0.8s ease 0.2s forwards;
  -o-animation: slide 0.8s ease 0.2s forwards;
  -ms-animation: slide 0.8s ease 0.2s forwards;
  animation: slide 0.8s ease 0.2s forwards;
}
.card:hover .card__content__category {
  transform: translateY(-150px);
}
.card:not(:hover) .hidden {
  height: 120px;
  opacity: 0;
  animation: fade-out 0.5s;
}
.card:hover .hidden {
  opacity: 1;
  color: grey;
  animation: fade-in 1.5s;
}

/* Safari and Chrome */
@-webkit-keyframes slide {
  from {
    height: 120px;
  }
  to {
    height: 250px;
  }
}
/* Firefox */
@-moz-keyframes slide {
  from {
    height: 120px;
  }
  to {
    height: 250px;
  }
}
/* Opera */
@-o-keyframes slide {
  from {
    height: 120px;
  }
  to {
    height: 250px;
  }
}
/* IE10 */
@-ms-keyframes slide {
  from {
    height: 120px;
  }
  to {
    height: 250px;
  }
}
@keyframes slide {
  from {
    height: 120px;
  }
  to {
    height: 360px;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}